{% extends "base.html" %}
{% block content %}
<div class="ui segments">
    <div class="ui segment">
        <div class="ui six link cards">
            {%for pokemon in pokemon_list %}
            <div class="card">
                <div class="image">
                    <img src="{{pokemon.image}}">
                </div>
                <div class="content">
                    <div class="header">{{pokemon.name}}</div>
                </div>
                <div class="extra content">
                    <span>
                        <i class="book icon"></i>
                        Pokédex #{{pokemon.pokedex_id}}
                    </span>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="ui center aligned segment">
        <div class="ui pagination menu">
            <a class="item" href="?page=0"><i class="angle double left icon"></i></a>
            {%for itm in pages%}
            <a class="{%if itm.is_active%}active{%endif%} item" href="?page={{itm.number}}"> {{itm.display}}</a>
            {%endfor%}
            <a class="item" href="?page={{max}}"><i class="angle double right icon"></i></a>
      </div>
    </div>
</div>
{% endblock %}